.git
.github
.turbo
node_modules
**/node_modules
**/.turbo
**/.tsbuildinfo
**/dist
**/.output
coverage
test-results
playwright-report
data
**/data
.env
.env.*
!.env.example
.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
